{{ define "pageHeader_cc" }}<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="/public/images/favicon.ico">

	<title>{{ .PageTitle }}</title>

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="../../assets/js/html5shiv.js"></script>
	<script src="../../assets/js/respond.min.js"></script>
	<![endif]-->

	<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
	<!--<![endif]-->
</head>

<body>
<div class="bodyContainer" id="layout">
	<a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

	<div id="menu">
		<nav class="pure-menu pure-menu-open">
			<ul>
				<!--<li><a href="/">Sign In/Up</a></li>-->
				<li><a href="/cc/help">Help</a></li>
				
				<p></p>
			</ul>
			<a class="pure-menu-heading" href="/cc">Home</a>
			<ul>
				<!--<li><a href="/">Inf0</a></li>
				<li><a href="/">Ab0ut</a></li>-->
				<li><a href="/cc/download">Download</a></li>
				<li><a href="/cc/results">Submit</a></li>
			</ul>
		</nav>
	</div>

	<main id="main" class="mainContent">
		<header class="header">
			<a href="/cc">
            	<img class="pure-img-responsive" src="/public/images/coding_challenge_logo.jpg" />
        	</a>
            <h3>Nothing a Nick can't handle...</h3>
        </header>		
		
		{{ end }}

		{{ define "pageFooterTop_cc" }}
	
	</main>

	<div class="pushdown"></div>

	<footer class="footer">
		<div class="footerContent">
			<a href="#" class="copyr">&copy;Cogciprocate - A Nick Sanders Production</a>
		</div>
	</footer>
</div>

{{ end }}

{{ define "pageFooterBottom_cc" }}

<script src="/assets/js/nwbis.js"></script>

</body>
</html>
<!-- Maybe use this later when I inline some CSS
<noscript><link rel="stylesheet" href="/assets/css/style.css"></noscript>
<noscript><link rel="stylesheet" href="/assets/vendor/pure-min.css"></noscript>
-->
{{ end }}

{{ define "codingChallenge" }}
{{ template "pageHeader_cc" . }}

<div class="content">
	<h2 class="content-subhead headingRed">Global Takeover Inc.</h2>
	<p>
		Our client, Global Takeover Inc., is in the middle of a crisis and they need our help.
		They have been hit hard by the economic recession and have foolishly laid off their entire IT department and sold all of their computers, servers, and coffee makers. The board of directors has now determined this may have been a mistake.
	</p>
	<p>
		In order for them to accomplish their corporate mission of world domination, they'll need a few computers and some software. They're currently the top bidders on an old Dell laptop listed on ebay and have hired our firm, Coding Challenge Technologies, to do the rest.
	</p>
	<p>
		Our client needs to decide which of their three european divisions to close down. In order for them to decide which one gets the axe, we must help them evaluate the financial data from each division.
	</p>

	<h3 class="headingRed">Your mission, should you choose to accept it:</h3>
	<ul>
		<li>Write a program, in <a target="_blank"href="http://www.rust-lang.org/">Rust</a>, which can read the financial data files from each of three corporate divisions: Paris, London, and Berlin. The files contain profits and losses for each day over the last quarter. Parse the files and determine how much each division has profited or lost.</li>
		<ol>
			<li>Download the files <a target="_blank"href="#">HERE</a>.</li>
			<li>When you're done, submit your results and code <a target="_blank"href="#">HERE</a>.</li>
		</ol>
		<li>
			This is a simple problem for an experienced developer but will require a good deal of setup and orientation for someone new to the Rust language. Consult the <a target="_blank"href="/cc/help">Help</a> secton to get started.
		</li>
	</ul>
</div>

{{ template "pageFooterTop_cc" . }}
{{ template "pageFooterBottom_cc" . }}
{{ end }}

{{ define "help_cc" }}
{{ template "pageHeader_cc" . }}

<div class="content">
	<div class="pure-g">
		<div class="pure-u-1">
			<div>
				<h2 class="content-subhead headingRed">Help</h2> 
				<p>
					Rust is a brand new language and is essentially in an alpha state. It is probably the best systems programming language yet devised but it won't necessarily be a smooth road getting started with it. There may be some snags, hangups, hiccups, hitches, hurdles, holdups, glitches, swearing, and possibly a broken keyboard or two ... 
					<br>
					<br>
					... If you can handle that, read on.
				</p>
				<br>
				<h3 class="headingRed">Get Your Development Environment Set Up</h3>
				<ol>
					<li>Install Rust</li>
					<ul>
						<li>Decide whether you want to develop in Windows or Linux. I'd recommend Linux but It's totally doable in Windows.
						</li>

						<li>
							Download the <a target="_blank"href="https://static.rust-lang.org/dist/rust-nightly-install.exe">Windows version</a> or the <a target="_blank"href="https://static.rust-lang.org/dist/rust-nightly-x86_64-unknown-linux-gnu.tar.gz">Linux Version</a>.
						</li>
						<li>
							Installing and getting a working Rust install will be the first potential snag and could take some time. Read the <a target="_blank"href="http://doc.rust-lang.org/guide.html">Rust Guide</a> for some help getting started. Also check out: 
							<a target="_blank"href="https://github.com/rust-lang/rust/wiki/Using-Rust-on-Windows">Using Rust on Windows</a>.
						<ul>
							<li>
								If you want to develop in Linux without having to dual-boot, use <a target="_blank"href="https://my.vmware.com/web/vmware/free#desktop_end_user_computing/vmware_player/6_0">VMware Player</a> to run a virtual machine from within Windows. This is what I do.
							</li>

							<li>
								My preferred Linux distro is <a target="_blank"href="http://www.ubuntu.com/download/desktop/">Ubuntu</a>.
							</li>
						</ul>
					</ul>
					<li> Get a Good IDE or Text Editor
						<ul>
							<li>
								<b>Linux:</b> My preferred text editor is <a target="_blank"href="http://www.sublimetext.com/2">Sublime Text 2</a>. I'd also highly reccomend installing the <a target="_blank"href="https://sublime.wbond.net/installation#st2">Sublime Package Control</a> and <a target="_blank"href="https://github.com/jhasse/sublime-rust">Sublime Rust</a> add-ons. I generally use <a target="_blank"href="http://www.nano-editor.org/">Nano</a> from the command line for editing config files and such.
							</li>
							<li>
								<b>Windows:</b> <a target="_blank"href="http://notepad-plus-plus.org/">Notepad++</a> is hands down the way to go.				
							</li>
						</ul>
					</li>
				</ol>

				<h3 class="headingRed">Learn Rust</h3>

				<ul>
					<li>
						Use the <a target="_blank"href="http://doc.rust-lang.org/guide.html">Rust Guide</a>. Don't just skim it. Type in and compile each and every bit of code from each section of the guide as you go. Don't just cut and paste. Type it in. Experiment and mess with it. This not only good for getting familiar with the syntax of a language but will also serve as a reference. <br><br>

						Being able to consult your file containing all the stuff you've learned so far is incredibly useful. Trying to memorize the syntax and specifics a language is a waste of time, your brain will do that on it's own. Use the code you write as an extension of your memory. <a target="_blank"target="_blank" href="/public/proj1.rs">Here's the code file</a> I made the first day I was learning Rust. I just threw everything in there as I went along. When I learn a new language I always make code files like this. I make a point of typing everything in by hand rather than cutting and pasting. Later, when I need to remember whether there was supposed to be a square bracket ( [ ) or a curly brace ( { ) or if I can't remember how many dots to use in the size parameter of an array literal (two), I know where to look without having to waste time googling it.<br><br>

						 The <a target="_blank"href="http://doc.rust-lang.org/tutorial.html">Rust Tutorial</a> also has some good information. The guide and tutorial are in the process of being merged together and are both works in progress. The Rust language is rapidly changing and evolving. Some of the information in various guides and in other places is out of date and incorrect.
					</li>
					<br>
					<li>Here are a few other useful links:
						<ul>
							<li>
								<a target="_blank"href="http://doc.rust-lang.org/index.html">Official Rust Documentation Page</a>
							</li>
							<li>
								<a target="_blank"href="http://www.rustforrubyists.com/index.html">Rust for Rubyists</a>
							</li>
							<li>
								<a target="_blank"href="https://github.com/rust-lang/rust/wiki/Docs">Github Rust Wiki</a>
							</li>
							<li>
								<a target="_blank"href="https://github.com/rust-lang/rust/wiki/Using-Rust-on-Windows">Using Rust on Windows (same link as above)</a>
							</li>
						</ul>
					</li>
				</ul>

				<h3 class="headingRed">Solve the Global Takeover Inc. Problem.</h3>
				<p> 
					Yes, it's a something you could solve using a calculator or an excel spreadsheet. Anyone with a pencil could add these numbers together. This challenge is purposely simple so you can learn the basics of the language without getting bogged down trying to engineer some complicated algorithm. You'll have plenty of opportunity engineer solutions to complex problems later. That's what programming is all about. For now though, let's learn our ABC's.
				</p>
				<ol>
					<li>Parse the files</li>
						<ul>
							<li>Open one of the files.</li>
							<li>Scan through the file using newlines as delimiters.</li>
							<li>Store the data (Hint: store it in a vector).</li>
							<li>Rinse and repeat for the other files (Hint: use a loop).</li>
						</ul>
					<li>Add things up.</li>
					<li>Print your results out to the screen. Also print them to a text file.</li>
					<li>Submit your text file ***HERE***********</li>
				</ol>

				<h3 class="headingRed">Google it or Text Me</h3>
				<ul>
					<li>
						When searching things specific to Rust, use the term "rustlang" instead of just "rust" to get better search results.
					</li>
					<li>
						Shoot me a text if there's anything you can't figure out. Don't bang your head against the wall for too long. As you probably already know, I'm always happy to explain things, even if I have no idea what I'm talking about. Sometimes, I even learn a thing or two from pulling answers out of my ass.
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>
{{ template "pageFooterTop_cc" . }}
{{ template "pageFooterBottom_cc" . }}
{{ end }}
