{{ define "lfgsList" }}
{{ $rps := (index .Sdata 1).RankingPages }}
{{ $rpsa := (index .Sdata 1) }}
{{ $gid := (index .Sdata 2) }}
{{ $d := . }}
<h2 class="content-subhead">Players Looking for Group</h2>
{{ if $gid }}<a href="/lfgs/form/0" class="button-table pure-button">Edit My Listing</a><a href="/lfgs/delete/0" class="button-normal pure-button">Remove My Listing</a>
{{ else }}
<a href="/lfgs/form/0" class="button-table pure-button">Find a Group</a>
{{ end }}

<table class="listing-table pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th hidden>Id</th>
            <th>Name</th>
            <th>Class</th>
            <th>Page</th>
            <th>Group Type</th>
            <th>Added</th>
        </tr>
    </thead>

    <tbody>
        {{ range .Data.Lfgs }}
        <tr>
            <td hidden>{{ .Id }}</td>
            <td class="long-column">{{ .CharacterName }}@{{ .UserName }}</td>
            <td>{{ .ClassAbbr }}</td>
            <td>{{ ($rpsa.AsText .RankingPage) }}</td>
            <td>{{ .QueuePrefName }}</td>
            <td>{{ ($d.Net.TimeSince .AddedAt) }}m ago</td>
        </tr>
        {{ end }}
        <tr>
            <td class="spacer-column" colspan=5></td>
        </tr>
    </tbody>
</table>
{{ end }}

