{{ define "lfgsForm" }}
{{ template "pageHeader" . }}
{{ $lfgs := (index .Data.Lfgs 0) }}
{{ $cls := (index .Sdata 0).Classes }}
{{ $qps := (index .Sdata 1).QueuePrefs }}
{{ $rps := (index .Sdata 2).RankingPages }}
{{ $net := .Net }}

<div class="content">
    <h2 class="content-subhead">Find a Group</h2>
    <form class="pure-form pure-form-aligned" action="/lfgs/save" method="post">
        <fieldset>
            <input name="Id" type="number" value="{{ or $lfgs.Id 0 }}" hidden>
            <div class="pure-control-group">
                <label for="CharacterName">Character@Account:</label>
                <input name="CharacterName" type="text" value="{{ or $lfgs.CharacterName "" }}" placeholder="Character Name" maxlength="20" size="20" required autofocus />&nbsp<span><b>@</b></span><input name="UserName" type="text" value="{{ or $lfgs.UserName "" }}" maxlength="25" size="25" required />
            </div>
            <div class="pure-control-group">
                <label for="ClassId">Class:</label>
                <select name="ClassId" size="7" value="{{ or $lfgs.ClassId "" }}" required />
                    {{ range $cls }}
                        <option value="{{ .Id }}" {{if ($net.Compare $lfgs.ClassId .Id)}}selected{{end}}>{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>
            <!--
            <div class="pure-control-group">
                <label for="ClassId">Class Id:</label>
                <input name="ClassId" type="number" value="{{ or $lfgs.ClassId 0 }}">
            </div>
            -->
            <div class="pure-control-group">
                <label for="RankingPage">Ranking Page:</label>
                <select name="RankingPage" size="3" value="{{ or $lfgs.RankingPage "" }}" required />
                    {{ range $rps }}
                        <option value="{{ .Id }}" {{if ($net.Compare $lfgs.RankingPage .Id)}}selected{{end}}>{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>
            
            <div class="pure-control-group">
                <label for="QueuePrefId">Group Type:</label>
                <select name="QueuePrefId" size="4" value="{{ or $lfgs.QueuePrefId "" }}" required />
                    {{ range $qps }}
                        <option value="{{ .Id }}" {{if ($net.Compare $lfgs.QueuePrefId .Id)}}selected{{end}}>{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>
            <p>&nbsp</p>
            <input type="checkbox" value=false required />
            <label>I have typed /unhide and am not hidden or anonymous</label>
            <!--
            <div class="pure-control-group">
                <label for="QueuePrefId">Queue Preference Id:</label>
                <input name="QueuePrefId" type="number" value="{{ or $lfgs.QueuePrefId 0 }}" required />
            </div>

            <div class="pure-control-group">
                <label for="AddedAt">Added At:</label>
                <input type="datetime" value="{{ or $lfgs.AddedAt 0 }}" disabled />
            </div>

            <div class="pure-control-group">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password">
            </div>

            <div class="pure-control-group">
                <label for="email">Email Address</label>
                <input id="email" type="email" placeholder="Email Address">
            </div>

            <div class="pure-control-group">
                <label for="foo">Supercalifragilistic Label</label>
                <input id="foo" type="text" placeholder="Enter something here...">
            </div>

            <div class="pure-controls">
                <label for="cb" class="pure-checkbox">
                    <input id="cb" type="checkbox"> I've read the terms and conditions
                </label>

                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>-->
        </fieldset>
    <input type="submit" class="button-table pure-button" value="List Me" />
    <a href="/lfgs/list" class="button-normal pure-button">Cancel</a>
    </form>
</div>
{{ template "pageFooterTop" . }}
{{ template "pageFooterBottom" . }}
{{ end }}