{{ define "lfmsList" }}
{{ $lfms := (index .Sdata 0).Lfms }}
{{ $mid := (index .Sdata 3) }}
{{ $d := . }}
<h2 class="content-subhead">Groups Looking for a 5v5 Match</h2>
{{ if $mid }}
<a href="/lfms/form/0" class="button-table pure-button">Edit My Listing</a><a href="/lfms/delete/0" class="button-normal pure-button">Remove My Listing</a>
{{ else }}
<a href="/lfms/form/0" class="button-table pure-button">Find a 5v5 Match</a>
{{end}}
<table class="listing-table pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th hidden>Id</th>
            <th>Party Leader</th>
            <th>Rainbow</th>
            <th>Added</th>
        </tr>
    </thead>

    <tbody>
        {{ range $lfms }}
        <tr>
            <td hidden>{{ .Id }}</td>
            <td class="long-column">{{ .CharacterName }}@{{ .UserName }}</td>
            <td>{{ if .Rainbow }}Yes{{ else }}No{{ end }}</td>
            <td>{{ ($d.Net.TimeSince .AddedAt) }}m ago</td>
        </tr>
        {{ end }}
        <tr>
            <td class="spacer-column" colspan=5></td>
        </tr>
    </tbody>
</table>
{{ end }}