{{ define "lfmsForm" }}
{{ template "pageHeader" . }}
{{ $lfms := (index .Data.Lfms 0) }}
<div class="content">
    <h2 class="content-subhead">Find a 5v5 Match</h2>
    <form class="pure-form pure-form-aligned" action="/lfms/save" method="post">
        <fieldset>
            <input name="Id" type="number" value="{{ or $lfms.Id 0 }}" hidden>
            <div class="pure-control-group">
                <label for="CharacterName">Party Leader Char/Acct:</label>
                <input name="CharacterName" type="text" value="{{ or $lfms.CharacterName "" }}" placeholder="Character Name" maxlength="20" size="20" required />&nbsp@&nbsp<input name="UserName" type="text" value="{{ or $lfms.UserName "" }}" maxlength="25" size="25" required />
            </div>
            <div class="pure-control-group">
                <label for="Rainbow">Rainbow:</label>
                <input name="Rainbow" type="checkbox" value="{{ or $lfms.Rainbow 0 }}" />
            </div>
            <p>&nbsp</p>
            <input type="checkbox" value=false required />
            <label>I have typed /unhide and am not hidden or anonymous</label>
            <!--
            <div class="pure-control-group">
                <label for="AddedAt">Added At:</label>
                <input type="datetime" value="{{ or $lfms.AddedAt 0 }}" disabled />
            </div>
            <div class="pure-control-group">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password">
            </div>

            <div class="pure-control-group">
                <label for="email">Email Address</label>
                <input id="email" type="email" placeholder="Email Address">
            </div>

            <div class="pure-control-group">
                <label for="foo">Supercalifragilistic Label</label>
                <input id="foo" type="text" placeholder="Enter something here...">
            </div>

            <div class="pure-controls">
                <label for="cb" class="pure-checkbox">
                    <input id="cb" type="checkbox"> I've read the terms and conditions
                </label>

                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>-->
        </fieldset>
    <input type="submit" class="button-table pure-button" value="List Me" />
    <a href="/lfms/list" class="button-normal pure-button">Cancel</a>
    </form>
</div>
{{ template "pageFooterTop" . }}
{{ template "pageFooterBottom" . }}
{{ end }}