{{ define "sideTable1"}}
<h2 class="content-subhead"><b>PvP Guilds</b></h2>
<table class="side-table pure-table pure-table-bordered">
    <tbody>
        <tr>
            <td>Alamut Castle</td>
        </tr>
        <tr>
            <td>Chocolate Shoppe</td>
        </tr>
        <tr>
            <td>Essence of Aggression</td>
        </tr>
        <tr>
            <td>Synergy</td>
        </tr>
        <tr>
            <td><a class="button-table pure-button" href="mailto:nwbis@gmail.com">Add Your Guild</a></td>
        </tr>
    </tbody>
</table>
{{ end }}