{{ define "help" }}
{{ template "pageHeader" . }}

<div class="content">
	<div class="pure-g">
		<div class="pure-u-1">
			<div>
				<h2 class="content-subhead">Help</h2>
				<p>
					You're Beyond Help!!! 
				</p>
				<p>
					... Just kidding
				</p>
				<p>
					Help page coming soon.
				</p>
			</div>
		</div>
	</div>
</div>
{{ template "pageFooterTop" . }}
{{ template "pageFooterBottom" . }}
{{ end }}

